header{
    text-align: center;
    background-color: violet;
    font-size: 22px;
    padding: 18px;
}
body{
    
    background-color: rgb(23, 14, 23);
}
.galeria{
    overflow: hidden;

}
.galeria > .galeria-fotos{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;

}

.galeria > .galeria-fotos > .fotos-item{
    flex: 0 0 auto;
    width: 100%;
}
.galeria > input:nth-child(1):checked ~ .galeria-fotos{
    transform: translateX(0%);
}

.galeria > input:nth-child(2):checked ~ .galeria-fotos{
    transform: translateX(-100%);
}
.galeria > input:nth-child(3):checked ~ .galeria-fotos{
    transform: translateX(-200%);
} 
.galeria > input:nth-child(4):checked ~ .galeria-fotos{/*checked~ seleciona os irmaos da galeria*/
    transform: translateX(-300%);
}
/*classe mae> classe filhas*/
.galeria > .galeria-fotos > .fotos-item >.descricao{
    text-align: center;
    color: aliceblue;
    font-size: 20px;
}